%h1 Flavors
%table
  %tbody
    - @flavors.each do |flavor|
      %tr
        %td
          =flavor.name
        %td
          %a{href: flavor_path(flavor)} Show
        %td
          %a{href: edit_flavor_path(flavor)} Edit
        %td
          =button_to "Delete", flavor, :method => :delete
%a{href: new_flavor_path} Add New Flavor
