= render 'shared/menu'
%h2 Flavors
%table{class: "table table-condensed table-hover"}
  %tbody
    %tr
      %th Flavor
      %th Actions
    - @flavors.each do |flavor|
      %tr{id: "flavor-#{flavor.id}"}
        %td=flavor.name
        %td
          - if @actions.include?(:show)
            %a{href: flavor_path(flavor), :class => 'btn'} Show
          - if @actions.include?(:edit)
            %a{href: edit_flavor_path(flavor), :class => 'btn'} Edit
          - if @actions.include?(:delete)
            = link_to 'Delete', flavor, :method => :delete, :class => 'btn btn-danger'
- if @actions.include?(:add)
  %a{href: new_flavor_path} Add New Flavor
