%h1 Sauces
%table
  %tbody
    - @sauces.each do |sauce|
      %tr
        %td=sauce.name
        %td=sauce.manufacturer
        %td
          %a{href: sauce_url(sauce)} Show
          %a{href: edit_sauce_url(sauce)} Edit
%a{href: new_sauce_url} Add
