= render 'shared/menu'
%h2 Manufacturers
%table{class: "table table-condensed table-hover"}
  %tbody
    - @manufacturers.each do |manufacturer|
      %tr
        %td=manufacturer.name
        %td
          - if @actions.include?(:show)
            %a{href: manufacturer_path(manufacturer), :class => 'btn'} Show
          - if @actions.include?(:edit)
            %a{href: edit_manufacturer_path(manufacturer), :class => 'btn'} Edit
- if @actions.include?(:add)
  %a{href: new_manufacturer_path} Add New Manufacturer
