= render 'shared/menu'
%h2 Manufacturers
%table{class: "table table-condensed table-hover"}
  %tbody
    - @manufacturers.each do |manufacturer|
      %tr
        %td
          =manufacturer.name
        %td
          %a{href: manufacturer_path(manufacturer), :class => 'btn'} Show
          %a{href: edit_manufacturer_path(manufacturer), :class => 'btn'} Edit
%a{href: new_manufacturer_path} Add New Manufacturer
